@{
    ViewBag.Title = "";
}

<div class="jumbotron center">
    <h2>Haunt Map</h2>
    This is a webapp that lets you view local ghost stories as you walk around. Create an account to add your own stories!
</div>
